<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">RedCode</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" aria-current="page">Böcker</a>
        </li>
        <li class="nav-item">
          <a routerLink="/citat" class="nav-link">Citat</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <!-- <li class="nav-item" *ngIf="isAuthenticated">
          <a routerLink="/profile" class="nav-link">Profile</a>
        </li> -->
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" (click)="signOut()">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
