<body>
  <div class="book-list">
    <h2>Böcker</h2>
    <table role="table">
      <thead>
        <tr>
          <th scope="col">Titel</th>
          <th scope="col">Författare</th>
          <th scope="col">Datum</th>
          <th scope="col" *ngIf="isAuthenticated" >Redigera</th>
          <th scope="col" *ngIf="isAuthenticated">Radera</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.title}}</td>
          <td>{{book.writer}}</td>
          <td>{{book.publishDate}}</td>
          <td *ngIf="isAuthenticated">
            <button class="edit-button" (click)="edit(book)">
              <i class="fas fa-edit" aria-hidden="true"></i>
              <span class="sr-only">Redigera</span>
            </button>
          </td>
          <td *ngIf="isAuthenticated">
            <button class="delete-button" (click)="deleteBook(book.id)">
              <i class="fas fa-trash-alt" aria-hidden="true"></i>
              <span class="sr-only">Radera</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="add-button" *ngIf="isAuthenticated" (click)="add()">Lägg till ny bok</button>
  </div>

</body>

